body {
  background-color: rgb(0, 0, 0);
  transition: 1s all;
}

.end-20 {
  right: 10px;
  bottom: 10px !important;
}

.fs-30 {
  font-size: 60px;
}

.top-80 {
  top: 55vh;
}

.pink-bg {
  background-color: #e68285;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 20%;
}

.drawer .drawer-items p {
  cursor: pointer;
  transition: 0.3s all;
}

.drawer {
}

.open-drawer {
  cursor: pointer;
  left: 20px;
}

.singer-item {
  cursor: pointer;
}

.singer-des {
  display: none;
  overflow: hidden;
}

.close-item {
  cursor: pointer;
}
.drawer .drawer-items p:hover {
  color: brown !important;
}
.tab {
  top: 400px;
  position: absolute;
  opacity: 0;
}

/* ////////////////////////////////////////////movie items styles //////////////////////////////// */
.movie-item {
  position: relative;
  overflow: hidden;
  transition: 1s all;
}

img {
  transition: 1s all;
  overflow: hidden;
}

.movie-item:hover .overLayer {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}

.movie-item:hover img {
  transform: scale(1.3);
  rotate: 8deg;
}

.overLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: none;
  padding: 15px;
  transition: all 2s;
}

h1 {
  transform: translateY(-100%);
  transition: all 1s;
}

.animationUp {
  transform: translateY(100%);
  transition: all 1s;
}

.overLayer:hover .animationUp {
  transform: translateY(0%);
}

.overLayer:hover h1 {
  transform: translateY(0%);
}

.overLayer :not(:hover) h1 {
  transform: translateX(-100%);
}

.overLayer i {
  color: yellow;
}

img {
  object-fit: cover;
}

section {
  transition: 2s all;
}

/* animation */

.parag {
  transform: matrix3d(
    1,
    0,
    0,
    0,
    0,
    0.5,
    0.866,
    0,
    0,
    -0.866,
    0.5,
    0,
    0,
    0,
    0,
    1
  );
  transition: all 1s ease;
}

.overLayer:hover .parag {
  animation: transform3d 0.2s ease both;
}

@keyframes transform3d {
  0% {
    transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      0.5,
      0.866,
      0,
      0,
      -0.866,
      0.5,
      0,
      0,
      0,
      0,
      1
    );
  }

  25% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75% {
    transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      0.5,
      0.866,
      0,
      0,
      -0.866,
      0.5,
      0,
      0,
      0,
      0,
      1
    );
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* /////////////////////////////contact us ////////////////////////////////////////////////// */

#contact input {
  border: 0px solid black !important;
  background-color: transparent;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 2px solid rgb(156, 154, 154) !important;
  font-size: 18px;
  padding-bottom: 10px;
  color: white;
  text-align: left;
}

#contact input::placeholder {
  text-align: center;
}

#contact input:focus {
  background-color: transparent;
  outline-width: 0;
}

.eye {
  cursor: pointer;
  transform: translateY(100%);
  opacity: 0;
  transition: all 1s ease;
}

input:focus + .eye {
  opacity: 1;
  transform: translateY(0%);
}

input:not(:focus) + .eye {
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.5s;
}

#submitButton {
  transition: transform 0.3s ease-in-out;
}

.leftTranslate {
  transform: translateX(0px);
}

.rightTranslate {
  transform: translateX(200px);
}

/* ///////////////////////////////////////loader //////////////////////////////////////// */

.loaderContainer {
  position: absolute;
  left: 50%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.727);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* //////////////////////////////////////// media /////////////////////////// */

@media screen and (max-width: 720px) {
  .sideMenue{
    display: none !important;
  }
}
